<% extend('../layout/dashboard-layout') %>

Dashboard 首頁

<ul>
    <li><a href="/dashboard/archives?page=1">瀏覽所有文章</a></li>
    <li><a href="/dashboard/article/create">新增文章</a></li>
    <li><a href="/dashboard/categories">控制文章類別</a></li>
</ul>
<br>
<a href="/">回到新聞首頁</a>
