<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- index.ejs將app.js firebaes傳入的title val rander到畫面 -->
    <h1 class="class8-94"><%= title %></h1>
</body>
</html>