<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>代辦事項列表</h1>
    <input type="text" name="content" id="content">
    <input type="submit" value="Send" id="send">
    <ul>
        <% for(item in todolist){ %>
            <li><%= todolist[item].content %> <input type="button" name="" value="Del"></li>
        <% } %>
    </ul>
</body>
</html>