<!DOCTYPE html>
<html>

<head>
    <title>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <!--登入後有Session uid user.js就能傳送該用戶資料過來-->
        你的姓名: <%= nickname %>
        年齡: <%= age %>
    </h1>

</body>
</html>